@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwind-scrollbar';
@plugin '@iconify/tailwind4';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border min-h-0 min-w-0 scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted tracking-tight;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

:root {
  --overlay: hsl(0 0% 0% / 0.5);

  --background: hsl(223.81 0% 98.68%);
  --foreground: hsl(0 0% 0%);
  --card: hsl(223.81 -172.52% 100%);
  --card-foreground: hsl(0 0% 0%);
  --popover: hsl(223.81 0% 98.68%);
  --popover-foreground: hsl(0 0% 0%);
  --primary: hsl(0 0% 0%);
  --primary-foreground: hsl(223.81 -172.52% 100%);
  --secondary: hsl(223.81 0% 92.15%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(223.81 0% 96.06%);
  --muted-foreground: hsl(223.81 0% 32.31%);
  --accent: hsl(223.81 0% 92.15%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(358.43 74.91% 59.75%);
  --destructive-foreground: hsl(223.81 -172.52% 100%);
  --border: hsl(223.81 0% 89.56%);
  --input: hsl(223.81 0% 92.15%);
  --ring: hsl(0 0% 0%);
  --chart-1: hsl(40.67 100.24% 50.92%);
  --chart-2: hsl(223.75 85.99% 55.81%);
  --chart-3: hsl(223.81 0% 64.47%);
  --chart-4: hsl(223.81 0% 89.56%);
  --chart-5: hsl(223.81 0% 45.61%);
  --sidebar: hsl(223.81 0% 98.68%);
  --sidebar-foreground: hsl(0 0% 0%);
  --sidebar-primary: hsl(0 0% 0%);
  --sidebar-primary-foreground: hsl(223.81 -172.52% 100%);
  --sidebar-accent: hsl(223.81 0% 92.15%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(223.81 0% 92.15%);
  --sidebar-ring: hsl(0 0% 0%);

  --radius: 0.4rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0);
  --tracking-normal: -0.025em;
  /* --spacing: 0.23rem; */
  --ease-smooth: cubic-bezier(0.25,0.1,0.25,1);
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(223.81 -172.52% 100%);
  --card: hsl(223.81 0% 3.55%);
  --card-foreground: hsl(223.81 -172.52% 100%);
  --popover: hsl(223.81 0% 6.87%);
  --popover-foreground: hsl(223.81 -172.52% 100%);
  --primary: hsl(223.81 -172.52% 100%);
  --primary-foreground: hsl(0 0% 0%);
  --secondary: hsl(223.81 0% 13.15%);
  --secondary-foreground: hsl(223.81 -172.52% 100%);
  --muted: hsl(223.81 0% 11.3%);
  --muted-foreground: hsl(223.81 0% 64.47%);
  --accent: hsl(223.81 0% 19.89%);
  --accent-foreground: hsl(223.81 -172.52% 100%);
  --destructive: hsl(359.91 100.25% 67.88%);
  --destructive-foreground: hsl(0 0% 0%);
  --border: hsl(223.81 0% 14.09%);
  --input: hsl(223.81 0% 19.89%);
  --ring: hsl(223.81 0% 64.47%);
  --chart-1: hsl(40.67 100.24% 50.92%);
  --chart-2: hsl(218.16 90.04% 55.16%);
  --chart-3: hsl(223.81 0% 45.61%);
  --chart-4: hsl(223.81 0% 32.31%);
  --chart-5: hsl(223.81 0% 89.56%);
  --sidebar: hsl(223.81 0% 6.87%);
  --sidebar-foreground: hsl(223.81 -172.52% 100%);
  --sidebar-primary: hsl(223.81 -172.52% 100%);
  --sidebar-primary-foreground: hsl(0 0% 0%);
  --sidebar-accent: hsl(223.81 0% 19.89%);
  --sidebar-accent-foreground: hsl(223.81 -172.52% 100%);
  --sidebar-border: hsl(223.81 0% 19.89%);
  --sidebar-ring: hsl(223.81 0% 64.47%);
}

@theme inline {
  --color-overlay: var(--overlay);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--next-sans);
  --font-mono: var(--next-mono);
  /* --font-serif: var(--next-serif); */

  --ease-smooth: var(--ease-smooth);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
